@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.markdownHolder {
  font-size: 16px;
}

.markdownHolder p {
  @apply mb-[8px];
}

/* if p is inside li */
.markdownHolder li p {
  @apply mb-[0px];
}

.markdownHolder ol {
  @apply list-inside list-decimal;
}

.markdownHolder ul {
  @apply list-inside list-disc;
}

.markdownHolder h1 {
  @apply text-xl font-bold mb-[8px];
}

.markdownHolder h2 {
  @apply text-lg font-bold mb-[8px];
}

.markdownHolder h3 {
  @apply text-base font-bold mb-[8px];
}

.markdownHolder h4,
.markdownHolder h6,
.markdownHolder h6 {
  @apply text-base font-bold mb-[8px];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
pre {
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  color: #fff;
  font-size: 13px !important;
}

:not(pre) > code {
  background-color: #222a39 !important;
  color: #fff !important;
  padding: 2px !important;
  border-radius: 2px !important;
}
.markdownHolder {
  font-size: 16px !important;
  padding-top: 4px !important;
}
.markdownHolder p {
  margin: 0px;
}
@media (min-width: 768px) {
  .inset-0 {
    inset: 0px !important;
  }
}
ul {
  padding: 0px;
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  padding: 0px;
  list-style: decimal;
  list-style-position: inside;
}
blockquote {
  margin: 0px;
  padding: 4px 0px;
  font-size: 12px;
  font-weight: 500;
}
